body {
    background-color: rgba(241, 241, 240, 0.877);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(12, 211, 184);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px;
}

header a {
    text-transform: uppercase;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    top: -30px;
    
}

li {
    display: inline-block;
    margin-right: 20px;
    
    
}

.HyperLink {
    text-decoration: none;
    color: inherit;
}

.HyperLink:hover {
    color: blue;
}